.formulario {
  font-family: 'Agency FB', arial;
font-size: 50px;
}
.btn-ghost{
	font-family: 'Open Sans', sans-serif;
font-size: 14px;
}
.textos{
	font-family: 'Open Sans', sans-serif;
font-size: 30px;
}
.gra{
	 font-family: 'Agency FB', arial;
font-size: 80px;
}
.cias{
	font-family: 'Open Sans', sans-serif;
font-size: 60px;
}