.text-center h1{
	 font-family: 'Agency FB', arial;
	 font-size: 70px;
}
.subheading {
 font-family: 'Agency FB', arial;
	 font-size: 40px;
}
.timeline-body{
 
font-family: 'Open Sans', sans-serif;
text-align: justify;
}
.about-right h2{
	font-family: 'Agency FB', arial;
	 font-size: 70px;
}
.about-right p{ 
font-family: 'Open Sans', sans-serif;
text-align: justify;
}
.valores{
	 font-family: 'Agency FB', arial;
	 font-size: 80px;
} 
