.images h2{
  font-family: 'Agency FB', arial;
  font-size: 100px;
}

 .images h6{
font-family: 'Agency FB', arial;
font-size: 47px;
}
.info-container h1{
	  font-family: 'Agency FB', arial;
   }
  .call-out a{
 font-family: 'Agency FB', arial;
 font-size: 30px;
  }
  .call-out p{
 font-family: 'Agency FB', arial;
 font-size: 25px;
 text-align: justify;
  }
    .call-out1 h4{
 font-family: 'Agency FB', arial;
 font-size: 50px;
   }
    .call-out1 p{
 font-family: 'Agency FB', arial;
 font-size: 35px;
 text-align: justify;
   }
.hc h2{
	 font-family: 'Agency FB', arial;
 
}
.hc p{
	 font-family: 'Agency FB', arial;
 font-size: 30px;
}
.call-out2 p{
font-family: 'Open Sans', sans-serif;
font-size: 14px;
}
.call-out2 h4{
font-family: 'Agency FB', arial;
text-align: center;
}
 .call-out9 p{
font-family: 'Open Sans', sans-serif;
font-size: 14px;
}
.call-out9 h4{
font-family: 'Agency FB', arial;
text-align: center;
 
}



