.titulo h4{
 font-family: 'Agency FB', arial;
}
.titulo h2{
 font-family: 'Open Sans', sans-serif;
}
.titulo h1{
 font-family: 'Agency FB', arial;
}
.adelante h1{
	 font-family: 'Agency FB', arial;
}
.atras p{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
